/* HEADER */
.header {
    display: flex;
    
    height: 48px; /* header real height: 49px */
    width: 100%;

    border-bottom: 1px solid #bbbbbb;
    /* box-shadow: 0px 0px 1px 0px #bbbbbb; */
}

/* HEADER LEFT */
.header .left {
    display: flex;
    width: 226px;
    height: inherit;
    background-color: aqua;
}

.header .left .toggle {
    background-image: url('../../lib/img/toggle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 24px;
    height: 24px;
    margin: 12px 10px 12px 16px;
}

.header .left .logo {
    background-image: url('../../lib/img/cukcuk-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 center;

    width: 100%;
    height: 24px;
    margin: 12px 0 12px 0px; /* toggle right margin = 10 already */
}

/*  HEADER RIGHT */
.header .right {
    height: inherit;
    width: calc(100% - 226px);
    line-height: 48px;
}

.header .right .company-select {
    height: inherit;
    display: flex;
    float: left;
}

.header .right .company-select .logo {
    margin: 6px 8px 6px 24px;
    width: 36px;
    height: calc(48px - 12px); /* header height = 48 - 2*6 = margin top+right */
    border-radius: 4px;
    background-color: aqua;
}

.header .right .company-select .dropdown {
    margin: 6px 0 6px 0px;
    border: 0;
}

/* header - user */
.header .right .user {
    height: inherit;
    width: fit-content;
    display: flex;
    float: right;
    margin-right: 16px;
}

.header .right .user .noti {
    cursor: pointer;
}

.header .right .user .avatar {
    background-image: url('../../lib/img/default-avatar.jpg');
    background-size: contain;
    background-repeat: no-repeat;

    width: 30px;
    height: 30px;

    margin: 7px 0 0 16px;
    border-radius: 20px;
}

.header .right .user .name {
    align-items: center;
    margin: 0 16px;
}

.header .right .user .option {
    background-image: url('../../lib/icon/option.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 16px;
    height: inherit;
    
    cursor: pointer;
}
