<div class="combobox">
    <input type="text" class="combobox-input">
    <button class="btn-2" id="show-combobox"><i class="fas fa-angle-down"></i></button>
    <div class="combobox-data" id="combobox-data">
        <div class="combobox-item">
            <div class="combobox-item-icon"></div>
            <div class="combobox-item-text">ABC</div>
        </div>
        <div class="combobox-item">
            <div class="combobox-item-icon"></div>
            <div class="combobox-item-text">ABC</div>
        </div>
        <div class="combobox-item">
            <div class="combobox-item-icon"></div>
            <div class="combobox-item-text">ABC</div>
        </div>
    </div>
</div>

<!-- added clear btn -->
<div class="combobox">
    <input type="text" class="combobox-input">
    <button class="btn-2 btn-clear"><i class="fas fa-times-circle"></i></button>
    <button class="btn-2" id="show-combobox"><i class="fas fa-angle-down"></i></button>
    <div class="combobox-data" id="combobox-data">
        <div class="combobox-item">
            <div class="combobox-item-icon"></div>
            <div class="combobox-item-text">ABC</div>
        </div>
        <div class="combobox-item">
            <div class="combobox-item-icon"></div>
            <div class="combobox-item-text">ABC</div>
        </div>
        <div class="combobox-item">
            <div class="combobox-item-icon"></div>
            <div class="combobox-item-text">ABC</div>
        </div>
    </div>
</div>