<div class="modal-wrapper">
    <div class="modal">
        <div class="head">
            <div class="title">THÔNG TIN NHÂN VIÊN</div>
            <div class="close"></div>
        </div>

        <div class="body">
            <div class="left">
                <div class="avatar"></div>
                <div class="avt-rules">(Vui lòng chọn ảnh có định dạng .jpg, .jpeg, .png, .gif.)</div>
            </div>
            <div class="right">
                <div class="form-a">
                    <div class="form-a-title">A. THÔNG TIN CHUNG</div><hr>
                    <div class="form-a-fields">
                        <div>
                            <label for="employee-id">Mã nhân viên</label><br>
                            <input type="text" class="employee-id" id="employee-id">
                        </div>

                        <div>
                            <label for="employee-name">Họ và tên</label><br>
                            <input type="text" class="employee-name" id="employee-name">
                        </div>
                        
                        <div>
                            <label for="employee-dob">Ngày sinh</label><br>
                            <input type="date" class="employee-dob" id="employee-dob">
                        </div>

                        <div>
                            <label for="employee-gender">Giới tính</label><br>
                            <select class="employee-gender" id="employee-gender">
                                <option>Nam</option>
                                <option>Nữ</option>
                            </select>
                        </div>

                        <div>
                            <label for="employee-ccid">Số CMTND/Căn cước</label><br>
                            <input type="number" class="employee-ccid" id="employee-ccid">
                        </div>

                        <div>
                            <label for="ccid-date">Ngày cấp</label><br>
                            <input type="date" class="ccid-date" id="ccid-date">
                        </div>

                        <div>
                            <label for="ccid-issue-place">Nơi cấp</label><br>
                            <input type="text" class="ccid-issue-place" id="ccid-issue-place">
                        </div>
                        <div></div>
                           
                        <div>
                            <label for="employee-email">Email</label><br>
                            <input type="email" class="employee-email" id="employee-email">
                        </div>

                        <div>
                            <label for="employee-phonenum">Số điện thoại</label><br>
                            <input type="number" class="employee-phonenum" id="employee-phonenum">
                        </div>
                    </div>
                </div>
                
                <div class="form-b">
                    <div class="form-b-title">B. THÔNG TIN CÔNG VIỆC</div><hr>
                    <div class="form-b-fields">
                        <div>
                            <label for="employee-position" class="col1">Vị trí</label><br>
                            <select class="employee-position col1" id="employee-position">
                                <option>Giám đốc</option>
                            </select>
                        </div>

                        <div>
                            <label for="employee-place" class="col2">Phòng ban</label><br>
                            <select class="employee-place col2" id="employee-place">
                                <option>Phòng nhân sự</option>
                            </select>
                        </div>
                    
                        <div>
                            <label for="employee-taxnum" class="col1">Mã số thuế cá nhân</label><br>
                            <input type="number" class="employee-taxnum col1" id="employee-taxnum">
                        </div>
                        
                        <div>
                            <label for="employee-salary" class="col2">Mức lương cơ bản</label><br>
                            <input type="number" class="employee-salary col2" id="employee-salary">
                        </div>
                    
                        <div>
                            <label for="employee-joindate" class="col1">Ngày gia nhập công ty</label><br>
                            <input type="date" class="employee-joindate col1" id="employee-joindate">
                        </div>
                        
                        <div>
                            <label for="employee-status" class="col2">Tình trạng công việc</label><br>
                            <select class="employee-status col2" id="employee-status">
                                <option>Đang làm việc</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="foot">
            <button class="btn btn-danger">Nop ho so</button>
            <button class="btn-2">Cancel</button>
        </div>
    </div>
</div>