<table cellspacing="0">
    <thead>
        <tr>
            <th></th>
            <th>Mã nhân viên</th>
            <th>Họ và tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Điện thoại</th>
            <th>Email</th>
            <th>Chức vụ</th>
            <th>Phòng ban</th>
            <th>Mức lương cơ bản</th>
            <th>Tình trạng công việc</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>NV-000001</td>
            <td>Nguyễn Văn A</td>
            <td>Nam</td>
            <td>21/09/2000</td>
            <td>0759632118</td>
            <td>aaaaaaaaaa@gmail.com</td>
            <td>Fresher</td>
            <td>Phòng đào tạo</td>
            <td>0</td>
            <td>Đang làm việc</td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>NV-000001</td>
            <td>Nguyễn Văn A</td>
            <td>Nam</td>
            <td>21/09/2000</td>
            <td>0759632118</td>
            <td>aaaaaaaaaa@gmail.com</td>
            <td>Fresher</td>
            <td>Phòng đào tạo</td>
            <td>0</td>
            <td>Đang làm việc</td>
        </tr>
    </tbody>
</table>